{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }],
    "@babel/typescript"
  ],
  "plugins": [
    ["babel-plugin-inline-import", {
      "extensions": [
        ".gql"
      ]
    }]
  ]
}